body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a828a;
    color: white;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    color: black;
}

table {
    width: 100%;
}

.btn {
    font-weight: 600;
}